body
  position: relative
  color: #000000
  background-color: $background-color

a
  text-decoration: none

h2
  margin: 0
  font: 2rem Montserrat-SemiBold, sans-serif

h3
  margin: 0
  font: 1.5rem Montserrat-SemiBold, sans-serif

.white
  background-color: #ffffff

.coaches
  position: relative