body
  position: relative
  color: #333333
  background-color: $background-color

a
  text-decoration: none

h2
  position: relative
  margin: 0
  font: 2rem Montserrat-SemiBold, sans-serif
  color: $accent-color
  &:before
    position: absolute
    top: 50%
    right: 120%
    content: ""
    width: 60px
    height: 2px
    background-color: $accent-color
  &:after
    position: absolute
    top: 50%
    left: 120%
    content: ""
    width: 60px
    height: 2px
    background-color: $accent-color

h3
  margin: 0
  font: 1.5rem Montserrat-SemiBold, sans-serif

.info
  background-color: #ffffff
    
.coaches
  padding-top: 80px
  &__wrapper
    position: relative
    display: flex
    flex-direction: column
    h2
      align-self: center
      &:before, &:after
        background-color: $accent-color

.up
  position: fixed
  right: 40px
  bottom: 40px
  display: none
  width: 50px
  height: 50px
  background-color: $main-color
  cursor: pointer
  transition: 0.2s
  &:hover
    background-color: $accent-color
    transform: scale(0.95)
  &:active
    transform: scale(0.9)
  &:before
    content: ""
    position: absolute
    top: 22px
    left: 21px
    width: 24px
    height: 4px
    background: $background-color
  &:after
    content: ""
    position: absolute
    top: 22px
    left: 6px
    width: 24px
    height: 4px
    background: $background-color
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)