// @media (max-width: 1400px)
  
@media (max-width: 1200px)
  .header
    &__text
      h2
        font-size: 2rem
      span
        font-size: 1.5rem
  .square
    font-size: 1rem
    &_info
      img
        width: 200px
        height: 200px

.logo
  &_contacts
    img
      width: 100px
      height: 100px
    span
      font-size: 1.75rem

@media (max-width: 992px)
  .header
    &__text
      gap: 20px
      h2
        width: 65%
        font-size: 1.5rem
      span
        font-size: 1.25rem
  .square
    font-size: 1.5rem
    &_info
      img
        width: 400px
        height: 400px
    &_photo
      display: none

  .logo
    &_contacts
      img
        width: 200px
        height: 200px
      span
        font-size: 3.5rem

  .menu
    gap: 50px

  .popup
    flex-direction: column
    &__photo
      display: none
    &__info
      width: 450px
      height: 450px
    &__close
      top: -50px
      left: 450px
    
@media (max-width: 767px)
  .header
    &__text
      gap: 20px
      h2
        width: 100%
        font-size: 1.5rem
      span
        font-size: 1rem

  h2
    font-size: 2rem

  h3
    font-size: 1.5rem

  .square
    padding: 40px
    font-size: 1rem
    &_info
      img
        width: 250px
        height: 250px

  .logo
    &_contacts
      img
        width: 100px
        height: 100px
      span
        font-size: 1.75rem

  .process
    padding: 40px
    &__wrapper
      padding: 0

  .footer
    &__info
      flex-direction: column
      gap: 50px
      div
        width: 100%
    &__copy
      display: flex
      justify-content: center
      margin: 0
      order: 1
    &__studio
      justify-content: center
      order: 2

  .menu
    &_center
      flex-direction: column
      align-items: center

@media (max-width: 575px)
  h1
    font-size: 2rem
    line-height: 32px

  .burger
    display: flex

  .header
    padding: 20px 0
    nav
      position: fixed
      top: 0
      right: -575px
      width: 320px
      height: 100%
      padding: 100px
      background-color: $accent-color
        
  .logo
    margin: 20px 0
    &_nav
      display: block
      margin: 0 auto 50px auto
    img
      width: 100px
      height: 100px

  .button
    width: 150px
    height: 45px
    font-size: 0.75rem

  .square
      padding: 40px
      &_info
        img
          width: 200px
          height: 200px

  .logo
    justify-content: center
    span
      display: none
    &_contacts
      img
        width: 150px
        height: 150px

  .header
    .menu
      flex-direction: column
      align-items: flex-start
      gap: 40px
      font-size: 1rem
      &__lang
        margin: 0
    &__text
      p
        font-size: 1rem

  .contacts
    &__message
      gap: 10px
    &__form
      gap: 10px

  .popup
    &__info
      width: 250px
      height: 250px
      padding: 20px
      p
        display: none
    &__close
      top: -50px
      left: 250px

@media (max-width: 453px)
  .header
    &__text
      gap: 20px
      h2
        width: 100%
        font-size: 1.25rem
      span
        font-size: 1rem
  h2
    font-size: 1.5 rem

  .square
    font-size: 0.9rem