@media (max-width: 1199px)
  .square
    font-size: 1rem
    &_info
      img
        width: 200px
        height: 200px

  .logo
    &_contacts
      img
        width: 100px
        height: 100px
      span
        font-size: 2rem

@media (max-width: 991px)
  .square
    font-size: 1.5rem
    &_info
      img
        width: 400px
        height: 400px
    &_photo
      display: none

  .logo
    &_contacts
      img
        width: 200px
        height: 200px
      span
        font-size: 3.5rem

  .menu
    gap: 50px
    
@media (max-width: 767px)
  h1
    font-size: 2rem

  h2
    font-size: 2rem

  h3
    font-size: 1.5rem

  .square
    padding: 40px
    font-size: 1rem
    &_info
      img
        width: 250px
        height: 250px

  .logo
    &_contacts
      img
        width: 100px
        height: 100px
      span
        font-size: 2rem

  .process
    padding: 40px
    &__wrapper
      padding: 0

  .footer
    &__info
      flex-direction: column
      gap: 50px
      div
        width: 100%
    &__copy
      display: flex
      justify-content: center
      margin: 0
      order: 1
    &__studio
      justify-content: center
      order: 2

  .menu
    &_center
      flex-direction: column
      align-items: center

@media (max-width: 575px)
  .burger
    display: flex

  .header
    padding: 20px 0
    nav
      position: fixed
      top: 0
      left: 575px
      width: 100%
      height: 100%
      padding: 100px
      background-color: $main-color

  .logo
    margin: 20px 0
    img
      width: 100px
      height: 100px

  .button
    width: 150px
    height: 45px
    font-size: 0.75rem

  .square
      padding: 40px
      &_info
        img
          width: 200px
          height: 200px

  .logo
    justify-content: center
    span
      display: none
    &_contacts
      img
        width: 150px
        height: 150px

  .header
    .menu
      flex-direction: column
      align-items: flex-start
      font-size: 1.5rem
      &__lang
        margin: 0
    &__text
      p
        font-size: 1rem

  .contacts
    &__message
      gap: 10px
    &__form
      gap: 10px

@media (max-width: 376px)
  h1
    font-size: 1.5rem

  h2
    font-size: 1.5 rem

  .square
    font-size: 0.9rem