.logo
  display: flex
  gap: 20px
  img
    width: 150px
    height: 150px
    border-radius: 0
  span
    width: 175px
    margin: 0
    font: 2.75rem Shnobel, sans-serif
    text-transform: uppercase
      