.logo
  display: flex
  align-items: center
  gap: 20px
  margin: 40px 0
  &_nav
    display: none
    margin-bottom: 50px
  img
    width: 150px
    height: 150px
  span
    margin: 0
    font: 2.875rem Shnobel, sans-serif
    text-transform: uppercase
  &_contacts
    margin: 0
      